{
	background:#0f0f0f;
	overflow-x:hidden
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box
}
:root{
	--font-1:Oswald,sans-serif;
	--font-2:Arimo,sans-serif
}
:before,:after{
	content:'';
	position:absolute
}
a{
	display:inline-block;
	text-decoration:none
}
span{
	display:inline-block
}
#jd-main,.jd-app{
	position:relative;
	width:100%;
	height:auto;
	font-size:16px;
	font-family:var(--font-1);
	color:#FFF;
	overflow-x:hidden
}
.jd-app{
	border-top:solid 30px #252525
}
.jd-container{
	width:940px;
	height:auto;
	margin:0 auto;
	position:relative
}
.jd-header{
	height:270px;
	position:relative
}
.jd-banner{
	position:absolute;
	width:100%;
	height:270px;
	overflow:hidden;
	display:flex;
	align-items:center;
	justify-content:center
}
.jd-banner img{
	width:100%
}
.jd-btn{
	position:absolute;
	width:120px;
	height:32px;
	right:30px;
	top:30px;
	background:rgba(255,255,255,.3);
	border-radius:2px;
	display:flex;
	flex-direction:column;
	z-index:100;
	overflow:hidden
}
.jd-btn a{
	width:120px;
	height:32px;
	line-height:32px;
	text-align:center;
	color:#FFF;
	text-transform:uppercase;
	font-family:var(--font-2);
	font-size:.8rem;
	transition:all .3s linear
}
.jd-content{
	width:940px;
	height:auto;
	margin:0 auto;
	position:relative;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	padding-top:30px
}
.jd-header h1{
	text-align:center;
	margin-top:80px;
	display:inline-block;
	width:100%;
	text-shadow:5px 5px 4px rgba(0,0,0,.5)
}
.jd-txt{
	width:140px;
	height:36px;
	background:#212121;
	border-radius:3px;
	text-align:center;
	line-height:36px;
	color:f252525;
	margin-left:calc(50% - 70px)
}
.jd-bottom{
	width:100%;
	height:90px;
	position:absolute;
	bottom:0;
	background:rgba(255,255,255,.3)
}
.jd-bottom .jd-container{
	display:flex;
}
.jd-user{
	width:110px;
	height:110px;
	border-radius:50%;
	overflow:hidden;
	box-shadow:0 0 0 5px #000000;
	position:absolute;
	left:5px;
	top:-40px
}
.jd-user img{
	width:100%
}
.jd-navigator{
	width:800px;
	height:90px;
	display:flex;
	justify-content:space-between;
	margin-left:140px;
	padding-top:10px
}
.jd-btn-nav{
	position:relative;
	height:60px;
	color:#FFF
}
.jd-btn-nav:after{
	width:100%;
	height:2px;
	background:#000000;
	left:0;
	bottom:0
}
.jd-btn-nav span{
	font-size:.9rem
}
.jd-btn-nav p{
	font-size:.8rem;
	color:#Df0f0f
}
.jd-box{
	width:110px;
	height:130px;
	background: #000000;
	box-shadow:0 0 2px 1px rgba(0,0,0,.1);
	padding:14px;
	margin-bottom:20px;
	position:relative
}
.jd-box img{
	width:82px;
	height:82px;
	border:solid 1px #212121;
	margin:0
}
.jd-box span{
	width:82px;
	height:19px;
	background:#212121;
	text-align:center;
	line-height:19px;
	text-transform:uppercase;
	font-size:.7rem;
	position:absolute;
	top:96px;
	left:14px
}
.jd-footer{
	width:100%;
	height:30px;
	background:#212121;
	line-height:40px;
	height:40px;
	text-align:center;
	font-size:.7rem;
	margin-top:40px
}
.jd-video{
	width:265px;
	height:185px;
	background:#111;
	position:absolute;
	bottom:50px;
	right:10px;
	box-shadow:-5px 5px rgba(0,0,0,.1);
	transition:all .5s ease-out;
	transform:translateX(300px)
}
.jd-video span{
	width:100%;
	height:35px;
	line-height:35px;
	text-align:center;
	font-size:.75rem;
	color:#000000;
	background:#212121
}
.jd-videoBox{
	width:265px;
	height:150px;
	background:#222
}
#-jd_1:target .jd-btn a:nth-child(1){
	margin-top:-32px
}
#-jd_1:target .jd-video{
	transform:translateX(0);
}
